---
layout: default
---
<html>
<center>
<div class="txtArea">
    <b>Tasks To-Do based on priority</b>
</div><br>
{% assign sortedPriority = site.tasks | sort: "priority" %}
{% for task in sortedPriority %}
    {% if task.iscompleted == false %}
        <button type="button" class="collapsible">{{ task.name }}</button>
        <div class="content">
            <div class="innerTxt">
            {% if task.assign %}
            {% assign assignment = task.assign | split: "," | join: ", " %}
            <b>By: </b>{{ assignment }}
            <hr/>
            {% endif %}
            {% if task.description %}
            <b>Description:</b><br/>
            {{ task.description }}
            <hr/>
            {% endif %}
            {% if task.resources %}
            <b>Resources: </b>
            {% assign reso = task.resources | split: "," %}
            <ul>
                {% for res in reso %}
                    <li><a href = "{{ res }}" target="_blank">{{ res }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
        </div>
        <br/>
    {% endif %}
{% endfor %}
</center>
</html>
<script src = "./assets/js/script.js">
