<html>
    <head>
        <link rel="stylesheet" href="./assets/css/script.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
    </head>
    <body>
        <nav class="mb-4 navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #151728;">
            <a class="StyledHeader" href="./">CodeAura</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="login.html"><i class="fa fa-user"></i> Sign in <span class="sr-only">(current)</span></a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="https://join.slack.com/t/codeaura/shared_invite/zt-k74h2lsn-Aj8dspHAzIjlUU_bNDq7Hw" target="_blank"><i class="fa fa-slack"></i> Slack </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="team.html"><i class="fa fa-users"></i> Team </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="events.html"><i class="fa fa-calendar-check-o"></i> Events </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Tasks </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item" href="todos.html">ToDo</a>
                            <a class="dropdown-item" href="completedTask.html">Completed</a>
                            <a class="dropdown-item" href="milestone.html">Milestones</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {{ content | markdownify }}
    </body>
</html>

<!-- Developer: Prakshal Jain || Contact: prakshal@buffalo.edu -->